  <div class="modal">
        <ion-header-bar class="bars-secondary">
          <h1class="title">NEW BUCKET</h1>
          <button class="button button-clear button-positive" ng-click="closeNewBucket()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <form ng-submit="createBucket(bucket)">
            <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="New Bucket?? :D AWESOME!" ng-model="bucket.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Create Bucket
              </button>
            </div>
          </form>
        </ion-content>
      </div>